*
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
.head-container
{
    width:40%;
    margin:15rem auto;
    display:flex;
    justify-content: space-between;
}
#task
{
    font-size:3.5rem;
    font-weight:bold;
}
#list
{
    font-size:3.5rem;
    opacity:0.5;
}
.add_list_box
{
    display:flex;
}
.fa-circle-plus
{
    font-size:2.5rem;
    color:red;
    cursor:pointer;
}
.add_li
{
    font-size: 3rem;
    position: relative;
    left:10%;
    opacity: 0.5;
}
.cards
{
    display:flex;
    position: relative;
    left:20%;

}
.card1
{
    width:12%;
    height:25rem;
    border:0.1rem solid pink;
    position: relative;
    bottom:10rem;
    margin: 0 5rem;
    border-radius: 1rem;
    box-shadow:0.3rem 0.3rem 1rem grey;
}
.card1 .head
{
    font-size:2rem;
    text-align: center;
    margin:2.2rem 0 1.3rem 0;
    color:pink;
}
.card1 .complete
{
    font-size:1.5rem;
    text-align: center;
    margin:3rem 0 0 0;
    color:red;
    text-decoration: line-through;
}
.card1 .pending
{
    font-size: 1.5rem;
}
.card1 .pen-box
{
    margin:2.5rem 0 0 1rem;
}
.page3
{
    filter:blur(0.6rem);
}
.popup
{
    display:flex;
    flex-direction: column;
    width:20%;
    height:15%;
    position: absolute;
    border:0.2rem solid pink;
    padding:2rem;
    border-radius: 0.5rem;
    top:30%;
    left:38%;
    box-shadow:0.3rem 0.3rem 1rem grey;
}
.popup label
{
    text-align: center;
    margin:0.5rem 0 1.4rem 0;
    font-size:1.5rem;
    color:pink;
}
.popup input
{
    width:73%;
    height:2rem;
    position:relative;
    left:4rem;
    border:0.1rem solid pink;
    border-radius:0.5rem;
}
.popup button
{
    width:23%;
    padding: 0.5rem;
    position:relative;
    left:40%;
    top:15%;
    border-radius: 1rem;
    border:0.1rem solid pink;
    background-color: red;
    color:white;
    font-size: 1.2rem;
}