*
{
    margin:0;
    padding:0;
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
}
.head-container
{
    width:50%;
    margin:7rem auto;
}
.head-container .heading
{
    font-size:4rem;
    text-align: center;
    position: absolute;
    background-color: white;
    left:40%;
    top:7%;
    width:25rem;
    font-weight: bold;
}
.back-container
{
    position: absolute;
    left:44%;
    top:25%;
    display: flex;
    width:8%;
    justify-content: space-between;
}
.fa-circle-arrow-left
{
    font-size:3rem;
    color:red;
}
.back-text
{
    font-size:3rem;
    opacity: 0.5;
}
.card1
{
    width:20%;
    height:30rem;
    border:0.1rem solid pink;
    position: relative;
    top:13rem;
    margin:auto;
    border-radius: 1rem;
    box-shadow:0.3rem 0.3rem 1rem grey;
}
.card1 .head
{
    font-size:2rem;
    text-align: center;
    margin:2.2rem 0 1.3rem 0;
    color:pink;
}
.card1 .complete
{
    font-size:1.5rem;
    text-align: center;
    margin:3rem 0 0 0;
    color:red;
    text-decoration: line-through;
}
.card1 .pending
{
    font-size: 1.5rem;
}
.card1 .pen-box
{
    margin:4rem 0 0 8rem;
}
.card1 .fa-circle-plus
{
    position: absolute;
    right:5%;
    bottom:5%;
    font-size: 3.5rem;
    color:red;
}